body {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal_body {
    background-color: #ffffff;
    position: relative;
    margin: 120px auto;
    padding: 20px;
    width: 75%;
    border-radius: 10px;
    transition: all ease-in-out 2s;
}

.modal_title {
    font-size: 2em;
    text-align: center;
    margin: 0.3em auto 0.3em auto;
}

.modal_head {
    display: flex;
    position: relative;
    text-align: center;
    padding: 0 1.5rem;
}

.modal_stats {
    font-size: 1.5em;
    overflow: auto;
    text-align: center;
}

.modal_replay {
    background-color: #02b3e4;
    color: #ffffff;
    padding: 0.5em 0.5em;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    display: block;
    margin: 1em auto;
    width: 40%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.modal_hide {
    display: none;
}